html {
  overscroll-behavior: none;
  touch-action: none;
}

body {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  margin: 0;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  background-color: #000;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#title-container {
  width: 100%;
  font-size: 1.2em;
  color: #fff;
}

.control-element {
  width: 90%;
  margin-top: 10px;
}

input {
  width: 60%;
}

.number-box {
  position: relative;
  top: -3px;
  margin-left: 5px;
}

.label {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 50px;
  margin-right: 5px;
  text-align: right;
}

.button {
  width: 50px;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
}

.button:hover {
  background: #333;
}

.button:active {
  color: #000;
  background: #fff;
}

#volume-slider .number-box::after {
  content: " %";
}

#speed-slider .number-box::after {
  content: " cent/sec";
}

